<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IncorpX | Final Payment Successful</title>
</head>
<body style="background-color: #fcf7ed; border: 1px solid #000;padding: 20px">
    <p>Dear {{ $name }},</p>

    <p>{{ $title }}</p>

    <p>{{ $description }}</p>

    <p><a href="{{ $link }}" style="text-decoration: none;padding: 10px 20px; background-color: #000;color: #fff; margin: 40px 0px;">View Now</a></p>

    <p>incorpX</p>
    <p>Email: {{ $admin_email }}</p>
    <!-- <p>Phone: {{ $admin->mobile_number }}</p> -->
</body>
</html>
